// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.grid {
  display: inline-block;
}

.container{
  margin: 150px auto;
  background-color: rgb(74, 167, 198);
  width: 80%;
  text-align: center;
  padding: 20px;
  color: white;
  text-shadow: 0 0 1px rgb(160, 159, 159);
}
form > input, .new-button {
  padding: 10px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 1px rgb(193, 192, 192);
}

.submit-button{
  background-color: #e28743;
  color: white;
  margin-left: 10px;
}

.submit-button:hover {
  cursor: pointer;
  box-shadow: 0 0 8px #ffb983;
}


.score-container{
  text-align: left;
  width: 50%;
  margin: 0 auto;
}


.new-button > a{
  text-decoration: none;
  color: white;
}

.new-button {
  width: 50%;
  background-color: #e28743;
  margin: 0 auto;
}

.new-button:hover {
  cursor: pointer;
  box-shadow: 0 0 8px #ffb983;
}

.icon {
  font-size: 20px;
  margin-right: 5px;
}
.reset-button{
  color: white;
  margin: 5px;
}
